body{
    font-family: 'Imperial Script', cursive;
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}
/*NavBar*/
nav{
    background-color: rgba(104, 104, 104, 0.452);  
    position: fixed;
    z-index: 9999;
    width: 100vw;
    top: 0;
    left: 0;
    padding: 50px 0;
    max-width: 100%;    
}

nav ul {
    text-align: center;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
}

nav ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 186, 130); 
    padding-left: 16px;
    padding-right: 16px;
    text-transform: uppercase;
}

nav ul li a,
nav ul li a::after,
nav ul li a::before{
    transition: all .5s;
}



/*animation*/

nav ul li a:hover{
    color: rgb(255, 236, 130);
}

nav.navbar ul li a{
    position: relative;
}

nav.navbar ul li a::after{

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
}

nav.navbar ul li a:hover::after{
    width: 100%;
}


/*index*/
.img-main{
    display: flex;
    background: url('/assets/img/father-background.jpg')  fixed no-repeat ;
    object-fit: cover;
    background-size: cover;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
}

.title{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin-top: 50vh;
}

.presentation p {
    margin-left: 1vw;
    margin-right: 1vw;
}

/*Footer*/
footer{
    background-color: rgba(104, 104, 104, 0.815);  
    position: absolute;
    z-index: 9999;
    width: 100vw;
    max-width: 100%;
    left: 0;
    padding: 10px 0;    
}

footer ul {
    text-align: center;
}

footer ul li {
    list-style-type: none;
    display: inline-block;
}

footer ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 186, 130); 
    padding-left: 16px;
    padding-right: 16px;
    text-transform: uppercase;
}

footer ul li a,
footer ul li a::after,
footer ul li a::before{
    transition: all .5s;
}




footer ul li a:hover{
    color: rgb(255, 236, 130);
}

footer.tabbar ul li a{
    position: relative;
}

footer.tabbar ul li a::after{

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
}

footer.tabbar ul li a:hover::after{
    width: 100%;
    max-width: 100%;
}